<a href="https://colab.research.google.com/github/SidtheKidx/music-genre-prediction/blob/main/Thrasio_music_genre_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Music genre prediction - classification

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
music = pd.read_csv('https://raw.githubusercontent.com/SidtheKidx/music-genre-prediction/main/music_genre.csv')

In [3]:
music.head(10)

   instance_id           artist_name  ... valence  music_genre
0      32894.0              Röyksopp  ...   0.759   Electronic
1      46652.0  Thievery Corporation  ...   0.531   Electronic
2      30097.0        Dillon Francis  ...   0.333   Electronic
3      62177.0              Dubloadz  ...   0.270   Electronic
4      24907.0           What So Not  ...   0.323   Electronic
5      89064.0            Axel Boman  ...   0.614   Electronic
6      43760.0        Jordan Comolli  ...   0.230   Electronic
7      30738.0                Hraach  ...   0.761   Electronic
8      84950.0                 Kayzo  ...   0.273   Electronic
9      56950.0                Shlump  ...   0.203   Electronic

[10 rows x 18 columns]

### EDA and feature engineering

In [6]:
music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50005 entries, 0 to 50004
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   instance_id       50000 non-null  float64
 1   artist_name       50000 non-null  object
 2   track_name        50000 non-null  object
 3   popularity        50000 non-null  float64
 4   acousticness      50000 non-null  float64
 5   danceability      50000 non-null  float64
 6   duration_ms       50000 non-null  float64
 7   energy            50000 non-null  float64
 8   instrumentalness  50000 non-null  float64
 9   key               50000 non-null  object
 10  liveness          50000 non-null  float64
 11  loudness          50000 non-null  float64
 12  mode              50000 non-null  object
 13  speechiness       50000 non-null  float64
 14  tempo             50000 non-null  object
 15  obtained_date     50000 non-null  object
 16  valence           50000 non-null  float64
 17  music_genre       50000 non-null  object
dtypes: float64(11), object(7)
memory usage: 6.9+ MB

In [7]:
music.describe()

        instance_id    popularity  ...   speechiness       valence
count  50000.000000  50000.000000  ...  50000.000000  50000.000000
mean   55888.396360     44.220420  ...      0.093586      0.456264
std    20725.256253     15.542008  ...      0.101373      0.247119
min    20002.000000      0.000000  ...      0.022300      0.000000
25%    37973.500000     34.000000  ...      0.036100      0.257000
50%    55913.500000     45.000000  ...      0.048900      0.448000
75%    73863.250000     56.000000  ...      0.098525      0.648000
max    91759.000000     99.000000  ...      0.942000      0.992000

[8 rows x 11 columns]

In [8]:
music.shape

(50005, 18)

In [10]:
music['music_genre'].unique()

array(['Electronic', 'Anime', nan, 'Jazz', 'Alternative', 'Country',
       'Rap', 'Blues', 'Rock', 'Classical', 'Hip-Hop'], dtype=object)

In [17]:
music['music_genre'].value_counts()

Hip-Hop        5000
Blues          5000
Rock           5000
Anime          5000
Electronic     5000
Classical      5000
Jazz           5000
Alternative    5000
Country        5000
Rap            5000
Name: music_genre, dtype: int64

In [22]:
music['music_genre'].dropna()

0        Electronic
1        Electronic
2        Electronic
3        Electronic
4        Electronic
            ...
50000       Hip-Hop
50001       Hip-Hop
50002       Hip-Hop
50003       Hip-Hop
50004       Hip-Hop
Name: music_genre, Length: 50000, dtype: object

In [23]:
music.shape

(50005, 18)